@font-face {
    font-family: "roboto";
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

$color-primary: #2224b1;
$color-gold: gold;
$color-white: #ffffff;
$color-light-grey: #f0f0f0;
$color-black: #000000;
$color-dark: #292828;
$color-dark-grey: #5c5c5c;
$color-grey: #e2e2e2;
$color-light: #f0f0f0;
$color-blue: rgb(0, 2, 10);
$color-purple: #ae35ff;
$border-radius: 1.2rem;
$border: 1px solid #e4e4e404;