.u-margin {
    margin: 8rem;
    @include respond(phone) {
        margin: 0;
    }
}

.center {
    text-align: center;
}

.margin-top {
    margin-top: 8rem;
}

.mobile {
    @include respond(tab-land-card) {
        padding: 0 7rem;
    }
}

.position {
    position: relative;
    top: 5rem;
}