.home-section {
    background: linear-gradient(to top, #ddd6f3, #0e24ee88);
    position: relative;
    height: 75rem;
}

.barber-section {
    background: linear-gradient(to bottom, #235effd7, #f1b612c0), url("../../assets/images/barber3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70rem;
    padding: 5rem 0;
    position: relative;
    @include respond(phone) {
        height: 95rem;
    }
    &::before {
        content: "";
        background: url("../../assets/images/wave.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 53rem;
        width: 256rem;
        position: absolute;
        top: 38%;
        left: 0;
        bottom: 0;
        right: 0;
        @include respond(phone) {
            height: 72rem;
            width: 200rem;
        }
    }
}

.cta {
    background: linear-gradient( to bottom, #ddd6f3, rgba(245, 243, 243, 0.788) 70%, #0355d1a9), url("../../assets/images/patterned-background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 5rem;
}

.section-form {
    padding: 3rem 0;
    background: linear-gradient(147deg, #000000d7, #040127de), url("../../assets/images/barber2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100rem;
    @include respond(phone) {
        padding: 3rem 3rem;
        background-size: cover;
    }
}

.step-section {
    background-color: var(--color-white);
    @include respond(phone) {
        margin-top: 30rem;
        padding: 0.5rem 6.5rem;
    }
}